.head-background{
    width: 1000px;
    height: 60px;
    margin: 0 auto;
}
.head-ground{
    width: 100%;
    height: 100%;
}
.content-ground{
    margin: 0 auto;
    width: 95%;
    height: 1000px;
    padding-top: 50px;
}
.head-inner-box{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 10px;
}
.head-content{
    width: 100%;
    height: 50%;
}
.FaHome{
    font-size: 30px;
    float: left;
}
.clicked-btn{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    float: right;
    background-color: aliceblue;
}
.clicked-btn p {
    margin: 10px;
}
.content-box{
    width: 95%;
    height: 90%;
    margin: 0 auto;
}
.add-circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    right: 100px;
    bottom: 60px;
}

/* register */
.register-box{
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}
.register-inner{
    margin: 0 auto;
    width: 70%;
    height: 60%;
}
.reg-input{
    margin-top: 40px;
}

.reg-input button{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

/* post page */
.post-background{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 20px;
    
}
.post-inner{
    width: 100%;
    height: 400px;
    
}
.post-content{
    float: left;
    height: 100%;
    margin-left: 10px;
    margin-bottom: 20px;
}
.post-image{
    width: 60%;
    height: 60%;
    border-radius: 10px;
}
textarea{
    width: 400px;
    height: 300px;
    border: 3px solid rgb(167, 202, 249);
    border-radius: 20px;
    font-size: 20px;
    resize: none;
    padding: 20px;
}
.post-left{
    width: 600px;
    height: 100%;
}
.post-right{
    width: 400px;
    height: 100%;
    margin-left: 100px;
    text-align: left;
}

.file-input{
    width: 200px;
    height: 100px;
    margin: 0 auto;
}
.file-input input{
    border: none;
}
.text-area{
    height: 400px;
}
.add-btn{
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    background-color: rgb(167, 202, 249);
}
.post-float img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee;
}
.post-profile{
    width: 60%;
    height: 100px;
}
.post-float{
    float: left;
    margin-right: 10px;
}
.dt{
    margin-left: 20%;
    position: absolute;

}
.comment_modal-btn{
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: rgb(124, 188, 240);
}

/* modal */
.black-modal{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 120%;
    position: fixed;
    text-align: center;
    margin-left: -14%;
    margin-top: -130px;
}
.white-modal{
    display: inline-block;
    background: white;
    margin-top: 200px;
    border-radius: 20px;
    height: 700px;
    width: 500px;
    opacity: 1;
    padding: 30px;
  }
  .close-btn{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      background-color: rgb(222, 168, 130);
      margin-left: 480px;
  }
  .comment-box{
      text-align: left;
      margin-left: 30px;
  }

@media screen and (max-width : 1540px) {
    .post-left{
        width: 400px;
        height: 100%;
    }
    .post-right{
        width: 400px;
        height: 100%;
        margin-left: 100px;
        text-align: left;
    }
    .post-image{
        width: 55%;
        height: 50%;
        border-radius: 10px;
    }
}
@media screen and (max-width : 1262px){
    .post-left{
        width: 300px;
        height: 100%;
    }
    .post-right{
        width: 300px;
        height: 100%;
        margin-left: 100px;
        text-align: left;
    }
    .post-image{
        width: 75%;
        height: 50%;
        border-radius: 10px;
    }
}
@media screen and (max-width : 985px) {
    .post-left{
        width: 160px;
        height: 100%;
    }
    .post-right{
        width: 330px;
        height: 100%;
        margin-left: 70px;
        text-align: left;
    }
    .post-image{
        width: 130%;
        height: 50%;
        border-radius: 10px;
    }
}